*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    color: #333;
}

.navbar{
    background-color: #076bbd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo{
    color: whitesmoke;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
   transition: color 0.3 ease;
}

.menu li a:hover{
    color: #cfe8ff;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 500px;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6 ease;
}

.slider .active{
    opacity: 1;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slidee{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.slidee h1{
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.slidee p{
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.btn{
    background-color: #076bbd;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 700;
    transition: background 0.3s ease;
}

.btn:hover{
    background-color: #004a80;
}

.slider .prev, .slider .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
}

.slider .prev{
    left: 20px;
}

.slider .next{
    right: 20px;
}

.elektro-card{
    padding: 60px 20px;
    text-align: center;
}

.elektro-card h2{
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.pse-te-zgjedhim{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pse{
    background: white;
    padding: 25px;
    width: 280px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3 ease;
}

.pse:hover{
    transform: translateY(-10px);
}

.produktet-slider{
    padding: 60px 20px;
    text-align: center;
    background: #f8f9fa;
}

.produktet-slider h2{
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.produktett{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}

.produktet-card{
    background: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;

}

.produktet-card:hover{
    transform: translateY(-10%);
    box-shadow: 0, 20px, 40px rgba(0,0,0,0.15);
}

.produktet-card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    background: #fff;
    transition: transform 0.3 ease;
}

.produktet-card:hover img{
    transform: scale(1.05);
}

.produktet-card h3{
    font-size: 17px;
    font-weight: 600;
    margin: 15px 10px 5px;
}

.prod-btn{
    display: inline-block;
    margin: 15px 0 20px;
    background: #076bbd;
    color: white;
    padding: 10px 26px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.prod-btn:hover{
    transform: scale(1.05);
    transform: scale(1.05);
}

footer{
    background: #004a80;
    color: white;
    padding: 50px 40px 30px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.pjesa-foterit{
    flex: 1;
    min-width: 220px;
}

.pjesa-foterit h2, .pjesa-foterit h3{
    margin-bottom: 15px;
    font-weight: 600;
}

.pjesa-foterit p{
    font-size: 14px;
    line-height: 1.8;
    color: #e0e0e0;
}

.social-icons{
    display: flex;
    margin-top: 10px;
}

.social-icons a{
    color: white;
    font-size: 26px;
    margin-right: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icons a:hover{
    color: #76b6ff;
    transform: translateY(-5px);
}

.pjesa-foteritt{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 13px;
    color: #ccc;
}

.card{
    width: 100%;
    max-width: 380px;
    background: white;
    padding: 45px 40px;
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    margin: 80px auto;
}


.card h2{
    text-align: center;
    color: #0b63ce;
    font-size: 26px;
    margin-bottom: 30px;
}


.card label{
    font-size: 14px;
    color: #333;
}


.input{
    width: 100%;
    padding: 14px;
    margin: 8px 0 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.input:focus{
    outline: none;
    border-color: #0b63ce;
}


.card button{
    width: 100%;
    padding: 14px;
    background: #0b63ce;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover{
    background: #094ea3;
}


.error{
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
}

.success{
    color: green;
    text-align: center;
    margin-top: 10px;
}

.card p{
    margin-top: 20px;
    font-size: 14px;
}

.card p a{
    color: #6a0dad;
    text-decoration: none;
    font-weight: 600;
}

.card p a:hover{
    text-decoration: underline;
}